/* COLORS */

.data-btn{
    background-color: #535071;
    color: #ffffff;
}

.dataTitle{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    border:0px solid;
    fill: solid white;
    margin-top: 0px;
    margin-bottom: 3px;
    background-color: #37344a;
}

.data-btn:hover{
    background-color: goldenrod; 
    color: #ffffff;
}


.clickedBtn{
    background-color: #daa520; 
    color: #535071;
    font-weight: bold;
}




.dataContainer{

    float: left;
    width: 80%;
    height: 97.5vh;
    margin-top: -81px;
    margin-left: 260px;
}

.dataTab-btns {
    width: 500px;
    column-count: 4;
    margin-right: 250px;
    padding-right: 250px;

}

#stat-btn {
    margin-bottom: 50px;
    padding-top: -20px;
}

.data-btn{
    border: none;
    text-align: center;
    font: 12px 'Signika Negative';
    border-radius: 10%;
    margin-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 85%;
}

.hidden-column {
    display: none;
}

.grayed {
    background-color: #29293d;
}

.whited {
    background-color: #1c1c21;
}

.shadeA {
    background-color: #159b00;
}
.shadeB {
    background-color: #a89c00;
}
.shadeC {
    background-color: #a10000;
}
.shade1 {
    background-color: #ff1919;
}
.shade2 {
    background-color: #fc4b00;
}
.shade3 {
    background-color: #f66b00;
}
.shade4 {
    background-color: #e98700;
}
.shade5 {
    background-color: #d99f00;
}
.shade6 {
    background-color: #c7b500;
}
.shade7 {
    background-color: #b2c900;
}
.shade8 {
    background-color: #96dc00;
}
.shade9 {
    background-color: #6bee00;
}
.shade10 {
    background-color: #00ff29;
}


/* DISTRICT INFORMATION */

/* #colNamesSources { */
    .sourceTable th {
    width: 40px;
    white-space: normal; /* Allow text to wrap */
}

.sourceTable td:first-child {
    background-color: #1c1c21;
}

.sourceTable th:last-child, .sourceTable td:last-child {
    text-align: left;
}


.statTable, .ethTable, .relTable, .sourceTable {
    border-collapse: collapse;
    overflow: auto;
    table-layout: fixed;
    height: 80vh;
    white-space: nowrap;
         
    td, th {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 17px;
    } 

    td:first-child, th:first-child {
        position: sticky;
        left: 0px;
        font-weight: bold;
        .sourceTable {
            background-color: #29293d;
        }
    }

    th:first-child {
        background-color: #29293d;
    }
    
    thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

}

.distInfo {
    margin-top: 20px;
    margin-left: -230px;
    width: calc(100vw - 60px);
}

.nations, .populations, .area, .density, .largeGroup, .largePercent, .relLargeGroup, .relLargePercent {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    font-size: 17px;
}


/* DISTRICT INFORMATION */





#colNames {
    font-weight: bold;
}

.nations {
    font-weight: bold;
}

