
/* ALL */

body{
    background-color: #f7f7ff;
    color:#555555;
    font: normal 13px 'Signika Negative';
    line-height: 1.5em;
    margin-left: 0%;
    margin-top: 0px;
    margin-top: 2px;
    margin-right: 0%;
    overflow: hidden;

}

.container, .container1{
    width:100%;
}


/* TABLE SETTINGS */

table{
    border-collapse: collapse;
    table-layout:fixed;
}

.grayed{
    background-color: #e1e1eb;
}


/* NAVIGATION BAR */

#title{
    color: white;
    text-decoration: none;

}


.header {
    color: #f4f4f4;
    background-color: #01002e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    margin-top: -15px;
    margin-bottom: -12px;
}

.header h1{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: -12px;

}

#navbar li{
    display: inline;
    float: right;
    margin-top: -.5px;

    a{
        text-decoration: none;
        color: goldenrod;
        padding-right: 20px;
        padding-left: 20px;

    }
    a:hover{
        background-color: goldenrod;
        color: #020141;
        padding-right: 20px;
        padding-left: 20px;
    }
}



/* PAGE LAYOUT */

#map {
    float: right;
    width: calc(100% - 500px);
    height: 97.5vh;
    margin-top: -81px;
    /* margin-right: 250px; */
    overflow: hidden;
}

/* SIDEBAR LAYOUT*/

h3{  /* Nations, District Information, etc. */
    color: white;
    font-size: 15px;
    border:0px solid;
    fill: solid white;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 5px;
    background-color: rgb(55, 52, 74);

}

.sidebar {
    position: absolute;
    width: 250px;
    height: 97.5vh;
    background-color: rgb(255, 255, 255);
}


/* NATIONS LAYOUT*/

.natBar{
    border:1px solid;
    border-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    h1{
        margin-left: 10px;
    }
}

.color-picker{
    position: absolute;
    display: none;
}

.nation-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 232, 172);
    color: rgb(70, 50, 0);
    cursor: pointer;
    padding: 0;
    padding-right: 5px;
    margin-left: 5px;
}


.natRow{
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
}


.population {
    width: 93px;
    padding-right: 10px;
    text-align: right;
}

/* MAP OPTIONS AND LAYER OPTIONS */

.btn, .btn1, .btn2, .btn3 {
    background-color: rgb(83, 80, 113);
    border: none;
    color: #ffffff;
    text-align: center;
    font: 12px 'Signika Negative';
    border-radius: 10%;
    margin-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
}

.btn:hover, .btn1:hover, .btn2:hover, .btn3:hover {

    background-color: goldenrod; 
    color: rgb(255, 255, 255);
}


.clickedBtn{
    background-color: #daa520; 
    color: rgb(83, 80, 113);
    font-weight: bold;

}

/* DRAW/ ERASE MODE LAYOUT*/
.container0 {
    width:100%;
    column-count: 2;
}

.container2 {
    width:100%;
    column-count: 3;
    
}

.bound-btn {
    width:100%;
    column-count: 3;
}

.layer-btn {
    width:100%;
    column-count: 3;
}


/* DISTRICT INFORMATION */

.infoBar {
    float: right;
    width: 250px;
    margin-top: -75px;
    height: 97.5vh;
    background-color: rgb(255, 255, 255);
}

.infoBar h3, p{
    margin-top: 0;
    margin-bottom: 0px;
}

.infoList{
    width: 83px;
    padding-left: 10px;

}

.infoData{
    width: 150px;
    padding-right: 10px;
    text-align: right;
}

.bound-btn .btn1 {
    margin-top: 4px; 
}

.layer-btn .btn3 {
    margin-top: 4px; 
}


/* MODAL STYLES (REGION SELECTOR) */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 95vw;
    height: 90%;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.regionImg {
    height: 300px;
    border-radius: 25px;
}

.option-btn {
    margin-top: 25px;
    margin: 5px;
    height: 340px;
    width: 400px;
}

.hidden {
    display: none;
}


/* OPACITY SLIDER */

.slidecontainer {
    width: 80%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 5px; /* Specified height */
    margin-left: 55px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}
    
    /* Mouse-over effects */
    .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    }
    
    .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: #010742; /* Green background */
    }
    