
/* ALL */

body{
    background-color: #f7f7ff;
    color:#555555;
    font: normal 13px 'Signika Negative';
    line-height: 1.5em;
    margin-left: 0%;
    margin-top: 0px;
    margin-top: 2px;
    margin-right: 0%;
    overflow: hidden;

}

.container, .container1{
    width:100%;
}


/* TABLE SETTINGS */

table{
    border-collapse: collapse;
    table-layout:fixed;
}

.grayed{
    background-color: #e1e1eb;
}


/* NAVIGATION BAR */

#title{
    color: white;
    text-decoration: none;

}


.header {
    color: #f4f4f4;
    background-color: #01002e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    margin-top: -15px;
    margin-bottom: -12px;
}

.header h1{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: -12px;

}

#navbar li{
    display: inline;
    float: right;
    margin-top: -.5px;

    a{
        text-decoration: none;
        color: goldenrod;
        padding-right: 20px;
        padding-left: 20px;

    }
    a:hover{
        background-color: goldenrod;
        color: #020141;
        padding-right: 20px;
        padding-left: 20px;
    }
}



/* PAGE LAYOUT */

#map {
    float: right;
    width: calc(100% - 250px);
    height: 97.5vh;
    margin-top: -81px;
    overflow:hidden;
}

/* SIDEBAR LAYOUT*/

h3{  /* Nations, District Information, etc. */
    color: white;
    font-size: 15px;
    border:0px solid;
    fill: solid white;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 5px;
    background-color: rgb(55, 52, 74);

}

.sidebar{
    position: absolute;
    width: 250px;
    height: 97.5vh;
    background-color: rgb(255, 255, 255);
}


/* NATIONS LAYOUT*/

.natBar{
    border:1px solid;
    border-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    h1{
        margin-left: 10px;
    }
}

.color-picker{
    position: absolute;
    display: none;
}

.nation-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 232, 172);
    color: rgb(70, 50, 0);
    cursor: pointer;
    padding: 0;
    padding-right: 5px;
    margin-left: 5px;
}

.natRow{
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
}


.population {
    width: 93px;
    padding-right: 10px;
    text-align: right;
}


/* DISTRICT INFORMATION */

.infoBar h3, p{
    margin-top: 0;
    margin-bottom: 0px;
}

.infoList{
    width: 83px;
    padding-left: 10px;

}

.infoData{
    width: 150px;
    padding-right: 10px;
    text-align: right;
}

.bound-btn .btn1 {
    margin-top: 4px; 
}

.layer-btn .btn1 {
    margin-top: 4px; 
}

/* MAP OPTIONS AND LAYER OPTIONS */

.btn, .btn1, .btn2{
    background-color: rgb(83, 80, 113);
    border: none;
    color: #ffffff;
    text-align: center;
    font: 12px 'Signika Negative';
    border-radius: 10%;
    margin-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
}

.btn:hover, .btn1:hover, .btn2:hover{

    background-color: goldenrod; 
    color: rgb(255, 255, 255);
}


.clickedBtn{
    background-color: #daa520; 
    color: rgb(83, 80, 113);
    font-weight: bold;

}

/* DRAW/ ERASE MODE LAYOUT*/
.container0 {
    width:100%;
    column-count: 2;
}

.container2 {
    width:100%;
    column-count: 3;
    
}

.container3 {
    width:100%;
    column-count: 2;
}


/* DISTRICT INFORMATION */

.statTable {
    border-collapse:separate;
    table-layout:auto;
}

.distInfo {
    float: left;
    margin-top: 20px;
    margin-left: -330px;
    width: calc(100vw - 60px);
}

.nations, .populations, .area, .density, .largeGroup, .largePercent {
    padding-right: calc((100vw - 60px)/7);
    width: 100px;
    background-color: #ff9100;
    text-align:right;
}

#colNames {
    font-weight: bold;
}

