@font-face {
    font-family: 'Signika Negative'; /* Name your font family */
    src: url('Signika_Negative/SignikaNegative.ttf'); /* Locate the .ttf file within your directory*/
  }
  
body{
    background-color: #010020;
    color:#555555;

    font: normal 18px 'Signika Negative', serif;
    line-height: 1.5em;
    margin-left: 0%;
    margin-top: 0px;
    margin-right: 0%;
}

.container{
    width:100%;
}

#title{
    color: white;
    text-decoration: none;
    width:min-content;
    float: left;
    transition: 0.4s;
}

#title:hover {
    color: #daa520;
}


.header {
    color: #f4f4f4;
    background-color: #010020;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    height: 120px;
    
    
}

.header h1{
    padding-left: 100px;
    padding-bottom: 15px;
    font-size: 60px;
    /* float: left; */
}

.header img{
    margin-top: 12px;
    width: 80px;
    border-radius: 50%;
    float: left;
}

#navbar li{
    display: inline;
    float: right;
    padding-top: 25px;

    a{
        text-decoration: none;
        color: #d1cdff;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        transition: 0.3s;
    }
    
    a:hover{
        background-color: #d1cdff;
        color: #01002e;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 5px;
        box-sizing: border-box;    
    }
}

@media (max-width: 770px) {
    .nav1 {
        display: none;
    }
}

@media (max-width: 687px) {
    .nav2 {
        display: none;
    }
}

@media (max-width: 560px) {
    .nav4 {
        display: none;
    }
}

@media (max-width: 858px) {
    .nav5 {
        display: none;
    }
}

h4 {
    font-size: 20px;
}

.box1{
    background-color: #ffffff;
    border:3px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height:fit-content;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
}

.welcomeTo {
    border:3px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height: 82vh;
    position: relative;
}

#homeWords {
    padding-top: 16vh;
}

#frontPage {
    background-color: #01002e;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 5px;
    box-sizing: border-box;
}

#frontPage:hover {
    h3 {
        color: #daa520;
    }
}

.welcomeTo h3, .box1 h3{
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
    transition: 0.4s;
}

#backgroundPic {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro{
    font-size: 20px;
    text-align: center;
}

#boxInfo{
    font-size: 20px;
    text-align: left;
}

#mapLink {
    margin-top: 150px;
    margin-bottom: 140px;
    text-align: center;
}
#mapLink a {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #01002e;
    transition: 0.4s;

}
#mapLink a:hover { 
    text-decoration: none; 
    background-color: #daa520;
    color: #01002e;
}
#mapLink a:active, a:visited, a:focus { 
    text-decoration: none;
    color: #555555;
}

#kofiLink {
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #ee5f2e;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

#kofiLink a:active, a:visited, a:focus { 
    text-decoration: none;
}

#kofiLink:hover{
    color: rgb(255, 255, 255);
    background-color: #daa520;
}

#form1{
    background-color: #fff;
    padding:10px;
    border:3px dashed #ccc;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}


footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    p, h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.footerLeft {
    width: 50%;
    float: left;
    padding-bottom: 40px;
    padding-left: 15%;
    font-size: 16px;
}

.footerRight {
    width: 20%;
    float: right;
    padding-bottom: 40px;
    padding-right: 15%;
    font-size: 16px;
    a {
        text-decoration: none;
        color: #ffffff;
        transition: 0.3s;
    }
    a:hover {
        color: #d1cdff;
    }
}

.tutorialText h3 {
    width: calc(35vw + 300px);
}

.innerBox {
    width: calc(35vw + 300px);
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#mapClick, #mapOptions, #layerOptions, #adminBoundaries, #nationNames, #mapTabs, #savePopUp {
    width: calc(20vw + 150px);
}

#shortcuts, #regionSelect, #distSelect, #colorChange, #statInfo, #ethInfo, #dataInfo, #statTabs {
    width: calc(35vw + 300px);
}

.grayed{
    background-color: #e1e1eb;
}