@font-face {
    font-family: 'Signika Negative'; /* Name your font family */
    src: url('Signika_Negative/SignikaNegative.ttf'); /* Locate the .ttf file within your directory*/
  }
  
body{
    background-color: #010020;
    color:#555555;

    font: normal 18px 'Signika Negative', serif;
    line-height: 1.5em;
    margin-left: 0%;
    margin-top: 0px;
    margin-right: 0%;
}

.container{
    width:100%;
}

#title{
    color: white;
    text-decoration: none;
}


.header {
    color: #f4f4f4;
    background-color: #010020;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.header h1{
    padding-left: 100px;
    padding-bottom: 15px;
    font-size: 60px;
}

.header img{
    margin-top: 12px;
    width: 80px;
    border-radius: 50%;
    float: left;
}

#navbar li{
    display: inline;
    float: right;
    padding-top: 25px;

    a{
        text-decoration: none;
        color: #d1cdff;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    a:hover{
        background-color: #d1cdff;
        color: #01002e;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 5px;
        box-sizing: border-box;    
    }
}

#frontPage {
    background-color: #01002e;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 5px;
    box-sizing: border-box;
 
}

.box1 h3{
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    vertical-align: center;

}

.box1{
    background-color: #ffffff;
    border:3px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height:fit-content;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
}

.welcomeTo {
    padding-top: 140px;
    padding-right: 0;
    padding-left: 0;
}

#backgroundPic {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

#intro{
    font-size: 20px;
    text-align: center;
}

#boxInfo{
    font-size: 20px;
    text-align: left;
}

#mapLink {
    margin-top: 150px;
    margin-bottom: 140px;
    text-align: center;
}
#mapLink a {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #01002e;

}
#mapLink a:hover { 
    text-decoration: none; 
    background-color: goldenrod;
    color: #01002e;
}
#mapLink a:active, a:visited, a:focus { 
    text-decoration: none;
    color: #555555;
}


#form1{
    background-color: #fff;
    padding:10px;
    border:3px dashed #ccc;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}


footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    p, h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.footerLeft {
    width: 50%;
    float: left;
    padding-bottom: 40px;
    padding-left: 15%;
    font-size: 15px;
}

.footerRight {
    width: 20%;
    float: right;
    padding-bottom: 40px;
    padding-right: 15%;
    font-size: 15px;
    a {
        text-decoration: none;
        color: white;
    }
}

#navBar, #regionSelect {
    width: 80%;
}

#distSelect, #colorChange, #dataInfo, #statInfo, #savePopUp {
    width: 50%;
}