/* COLORS */

/* LIGHT MODE */

/* .nameTabs {
    background-color: #ffffff;
}

.tabLinks{
    background-color: #001eff27;
    color: #5b5f42;
}

.save-btn{
    background-color: rgb(83, 80, 113);
    color: #ffffff;
}

.save-btn:hover{
    background-color: goldenrod; 
    color: rgb(255, 255, 255);
}

.save-content {
    background-color: #fff;
} */

/* DARK MODE */

.nameTabs {
    background-color: #1c1c21;
}

.tabLinks{
    background-color: #4f39b0;
    color: #ffffff;
}

.save-btn{
    background-color: #4f39b0;
    color: #ffffff;
}

.save-btn:hover{
    background-color: goldenrod; 
    color: #ffffff;
}

.save-content {
    background-color: #1c1c21;
}



.nameTabs{
    margin-top: 12px;
    width: 250px;
    margin-bottom: 10px;
}

.nameTabs h1{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.tabLinks{
    border: none;
    text-align: center;
    font: 12px 'Signika Negative';
    border-radius: 10%;
    margin-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

.tabContainer{
    margin-top: 15px;
    margin-bottom: -5px;
    column-count: 3;
}


/* SAVE BUTTON */

.save-btn{
    border: none;
    text-align: center;
    font: 12px 'Signika Negative';
    border-radius: 10%;
    margin-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50px;
}

.saving {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sits above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080; /* Background color with opacity */
}

/* Save content */
.save-content {
    margin: 20% auto; /* Center vertically and horizontally */
    padding: 20px;
    width: 300px; /* Adjust size */
    text-align: center;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    cursor: pointer;
}
